body {
    padding: 0;
    margin: 0;
}


header {
    background-color:rgba(15, 20, 15, 0.8); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;


}

nav a {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    
}

.logo {
    width: 200px;
}

main {
    border-style: solid black;
    height: 550px;
    background-image: url("../images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div h1, p {
    color: white;
    text-align: center;
}

button {
    background-color: rgb(165, 42, 48);
    color: white;
    border-width: 0;
    border-style: solid;
    padding: 8px;
    border-radius: 23px; 
    cursor: pointer;
}

.text {
    margin-top: 0;
    
}
@media (min-width:480px) {
    .header
   

}


@media (max-width:1000px) {
    .header


}

.button :hover .button:active {
    (#FF6565)

   }
   {
    opacity: 0.9;
   }

   /** what we do**/
}

.section {
    width: 100%;
    position: relative;
 
 }

 .holberton_school-icons-ic_sound, .holberton_school-icons-ic_video, .holberton_school-icons-ic_music, .holberton_school-icons-ic_hearing {
    display: flex;
    color: var(--color-blue);
    font-size: 50px;
 }

 .section span {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

 }

 .text  {
    background-color: aquamarine;
    font-size: medium;
 }
 
 
.section .grid .element h2 {
    display: flex;
    color: var(--color-blue);
    font-size: 50px;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    
    
 }

 
 .section-title {
    width: 100%;
    margin: auto;
    font-family: var(--font);
    font-size: var(large);
    font-weight: bold;
    text-align: center;

}

 
 
 /**responsiveness/**/
 
 @media(max-width:480px) {
     section .container
 }