body {
    padding: 0;
    margin: 0;
}


header {
    background-color:rgba(15, 20, 15, 0.8); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;


}

nav a {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    
}

.logo {
    width: 200px;
}

main {
    border-style: solid black;
    height: 550px;
    background-image: url("../images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div h1, p {
    color: white;
    text-align: center;
}

button {
    background-color: rgb(165, 42, 48);
    color: white;
    border-width: 0;
    border-style: solid;
    padding: 8px;
    border-radius: 23px; 
    cursor: pointer;
}

.text {
    margin-top: 0;
    
}
@media (min-width:480px) {
    .hero-section
    

}


@media (max-width:1000px) {
    .hero-section


}

    
.nav a :hover(#FF6565) {
    
}

button :hover {
    opacity: 0,9;
}

.what we do section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    background-color:solid black;
}

.work-section{
    flex-basis: 60%;
    max-width: 60%;
}

.work-section-tiltle {
    font-size: 30px;
    color: solid black;
}

.work-section p{
    font-size: 15px;
    color: blue;
    margin-bottom: 20px;
}

.image-boxes{
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    padding: 15px;
}

.image-boxes h2 {
    font-size: 20px;
    color: burlywood;
    margin: 10px;
    margin: bottom 5px; 
}

.image-boxes p {
    color: brown;
    font-size: 15px;
}






