body {
    padding: 0;
    margin: 0;
}


header {
    background-color:rgba(15, 20, 15, 0.8); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;


}

nav a {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    
}

.logo {
    width: 200px;
}

main {
    border-style: solid black;
    height: 550px;
    background-image: url("../images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main div h1, p {
    color: white;
    text-align: center;
}

button {
    background-color: rgb(165, 42, 48);
    color: white;
    border-width: 0;
    border-style: solid;
    padding: 8px;
    border-radius: 23px; 
    cursor: pointer;
}

.text {
    margin-top: 0;
    
}
@media (min-width:480px) {
    .hero-section
    

}


@media (max-width:1000px) {
    .hero-section


}

.nav a :hover {
    (#FF6565)
    color: #000;
}

button :hover {
    opacity: 0,9;

    /** what we do section**/
}
.section {
    width: 100%;
    position: relative;
 }
 
 .section p {
     text-align: center;
     width: 65%;
     margin:2rem auto;
     line-height:1.4;
     font-size: var(medium);
     font-family: var(--font);
 }
 
 .section .container {
   padding: 3rem;
   flex-wrap: wrap ;
 }
 
 .button .grid {
     margin: 0.4rem;
 }
 
 .section .grid .element h2 {
     font-family: var(--font);
     font-size: var(--font-medium);
 }
 
 
 .section-title {
     width: 100%;
     margin: auto;
     font-family: var(--font);
     font-size: var(large);
     font-weight: bold;
     text-align: center;
 
 }
 
 .section p {
 text-align: center;
 font-weight: bold;
 color: red;
 width: 100%;
 }
 
 /**responsiveness/**/
 
 @media(max-width:480px) {
     section .container
 }
 
 .section .grid {
     grid-template-columns: 100%;
     grid-template-rows: 25% 25% 25% 25%;
 }
 
 .section .grid .element p {
     width: 60%;
     margin: auto;
 
 
 }
 
 .icons {
    color: aqua ;
    font-size: 50px;
 
 }

 /**our result**/

 #result {
    color: white;
    background-image: url("../images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }

 #result .container {
    padding: 5rem;

 }

 #result .section-title {
    font-size: 30px;
 }

 #result .grid .element h2 {
    position: relative;
    top: 10%;
    font-size: var(--font-medium);
 }

 #result .grid .element p {
    position: relative;
    top: 10%;
 }

 /**responsiveness**/
 @media (max-width:480px) {
    #result
    background-position: 50%;
 }

 /**Contact us**/
 
 #formContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
 }

 input {
    width: 50%;
    margin: 1rem;
    height: 2rem;
    color: black;
    font-family: var(--font);
    font-size: 15px;
    border-top: top;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(7,20,41,0.17) ;
 }

 input::placeholder {
    color: black;
    font-size: var(--font-medium);
    font-weight: bold;
 }


 input {
    width: 70%;
 }


 input :focus {
   outline: none;

 }

 /**responsiveness**/
 @media (max-width:480px)

 /**footer**/


 
 